

div{
	border: solid 1px black;
	padding: 5px;
}
.gems{
	clear: both;
}
.gemImage{
	height: 60px;
	margin: 20px;
}


}
h1{
	font-size: 20pt;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}


div.header, div.instructions{
	width: 50%;
}

.numberToMatch, .winsAndLosses{
	float: left;
	width: 20%;
	height: 60px;
}
.userTotal{
	width: 25%;
	height: 60px;
}

