

div{
	border: solid 1px black;
	padding: 5px;
}
.crystals{
	clear: both;
}
.crystalImage{
	height: 60px;
	margin: 20px;
}


}
h1{
	font-size: 20pt;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}


div.name, div.task{
	width: 50%;
}

 .game{
	float: left;
	width: 20%;
	height: 60px;
}
.gamePoints{
	width: 25%;
	height: 60px;
}

